<div id="index-wrapper">

  <h1>{{title}}</h1>
  {{!-- <img id="logo" src="/images/routedroid_logo.png"> --}}
  <h2>Real-time Solutions to Real-life Problems</h2>

</div>

<script src="/javascripts/index.js"></script>