<div id="index-wrapper">

  <section id="index-text">
    <h3>Save time and gas</h3>
    <h3>Plan your routes now!</h3>
  </section>
  <img id="map-image" src="/images/map_image.jpg">

</div>

<script src="/javascripts/index.js"></script>