<h1>Enterprise Sign Up Form</h1>
<h2>Please complete the form to sign up</h2>
<form action="/enterprise/sign-up" method="POST">
  <label for="name">Enterprise Name</label>
  <input id="name" name="name" type="text"><br>

  <label for="location">Location</label>
  <input id="location" name="location" type="text"><br>

  <label for="email">Email</label>
  <input id="email" name="email" type="email"><br>
  
  <label for="username">Username</label>
  <input id="username" name="username" type="text"><br>

  <label for="password">Password</label>
  <input id="password" name="password" type="password"><br>

  <button type="submit">Sign Up!</button>
</form>